<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>新余</key>
	<string>0709</string>
	<key>南昌</key>
	<string>0791</string>
	<key>九江</key>
	<string>0792</string>
	<key>上饶</key>
	<string>0793</string>
	<key>临川</key>
	<string>0794</string>
	<key>宜春</key>
	<string>0795</string>
	<key>吉安</key>
	<string>0796</string>
	<key>赣州</key>
	<string>0797</string>
	<key>景德镇</key>
	<string>0798</string>
	<key>萍乡</key>
	<string>0799</string>
	<key>鹰潭</key>
	<string>0701</string>
	<key>临夏</key>
	<string>0930</string>
	<key>兰州</key>
	<string>0931</string>
	<key>定西</key>
	<string>0932</string>
	<key>平凉</key>
	<string>0933</string>
	<key>西峰</key>
	<string>0934</string>
	<key>武威</key>
	<string>0935</string>
	<key>张掖</key>
	<string>0936</string>
	<key>酒泉</key>
	<string>0937</string>
	<key>天水</key>
	<string>0938</string>
	<key>甘南州</key>
	<string>0941</string>
	<key>白银</key>
	<string>0943</string>
	<key>武汉</key>
	<string>027</string>
	<key>襄城</key>
	<string>0710</string>
	<key>鄂州</key>
	<string>0711</string>
	<key>孝感</key>
	<string>0712</string>
	<key>黄州</key>
	<string>0713</string>
	<key>黄石</key>
	<string>0714</string>
	<key>咸宁</key>
	<string>0715</string>
	<key>荆沙</key>
	<string>0716</string>
	<key>宜昌</key>
	<string>0717</string>
	<key>恩施</key>
	<string>0718</string>
	<key>十堰</key>
	<string>0719</string>
	<key>随枣</key>
	<string>0722</string>
	<key>荆门</key>
	<string>0724</string>
	<key>江汉</key>
	<string>0728</string>
	<key>阿城</key>
	<string>0450</string>
	<key>哈尔滨</key>
	<string>0451</string>
	<key>齐齐哈尔</key>
	<string>0452</string>
	<key>牡丹江</key>
	<string>0453</string>
	<key>佳木斯</key>
	<string>0454</string>
	<key>绥化</key>
	<string>0455</string>
	<key>黑河</key>
	<string>0456</string>
	<key>加格达奇</key>
	<string>0457</string>
	<key>伊春</key>
	<string>0458</string>
	<key>大庆</key>
	<string>0459</string>
	<key>商丘</key>
	<string>0370</string>
	<key>郑州</key>
	<string>0371</string>
	<key>安阳</key>
	<string>0372</string>
	<key>新乡</key>
	<string>0373</string>
	<key>许昌</key>
	<string>0374</string>
	<key>平顶山</key>
	<string>0375</string>
	<key>信阳</key>
	<string>0376</string>
	<key>南阳</key>
	<string>0377</string>
	<key>开封</key>
	<string>0378</string>
	<key>洛阳</key>
	<string>0379</string>
	<key>焦作</key>
	<string>0391</string>
	<key>鹤壁</key>
	<string>0392</string>
	<key>濮阳</key>
	<string>0393</string>
	<key>周口</key>
	<string>0394</string>
	<key>漯河</key>
	<string>0395</string>
	<key>驻马店</key>
	<string>0396</string>
	<key>三门峡</key>
	<string>0398</string>
	<key>福州</key>
	<string>0591</string>
	<key>厦门</key>
	<string>0592</string>
	<key>宁德</key>
	<string>0593</string>
	<key>莆田</key>
	<string>0594</string>
	<key>泉州</key>
	<string>0595</string>
	<key>晋江</key>
	<string>0595</string>
	<key>漳州</key>
	<string>0596</string>
	<key>龙岩</key>
	<string>0597</string>
	<key>三明</key>
	<string>0598</string>
	<key>南平</key>
	<string>0599</string>
	<key>西安</key>
	<string>029</string>
	<key>咸阳</key>
	<string>0910</string>
	<key>延安</key>
	<string>0911</string>
	<key>榆林</key>
	<string>0912</string>
	<key>渭南</key>
	<string>0913</string>
	<key>商洛</key>
	<string>0914</string>
	<key>安康</key>
	<string>0915</string>
	<key>汉中</key>
	<string>0916</string>
	<key>宝鸡</key>
	<string>0917</string>
	<key>铜川</key>
	<string>0919</string>
	<key>邯郸</key>
	<string>0310</string>
	<key>石家庄</key>
	<string>0311</string>
	<key>保定</key>
	<string>0312</string>
	<key>张家口</key>
	<string>0313</string>
	<key>承德</key>
	<string>0314</string>
	<key>唐山</key>
	<string>0315</string>
	<key>廊坊</key>
	<string>0316</string>
	<key>沧州</key>
	<string>0317</string>
	<key>衡水</key>
	<string>0318</string>
	<key>邢台</key>
	<string>0319</string>
	<key>秦皇岛</key>
	<string>0335</string>
	<key>贵阳</key>
	<string>0851</string>
	<key>遵义</key>
	<string>0852</string>
	<key>安顺</key>
	<string>0853</string>
	<key>都均</key>
	<string>0854</string>
	<key>凯里</key>
	<string>0855</string>
	<key>铜仁</key>
	<string>0856</string>
	<key>毕节</key>
	<string>0857</string>
	<key>六盘水</key>
	<string>0858</string>
	<key>兴义</key>
	<string>0859</string>
	<key>海拉尔</key>
	<string>0470</string>
	<key>呼和浩特</key>
	<string>0471</string>
	<key>包头</key>
	<string>0472</string>
	<key>乌海</key>
	<string>0473</string>
	<key>集宁</key>
	<string>0474</string>
	<key>通辽</key>
	<string>0475</string>
	<key>赤峰</key>
	<string>0476</string>
	<key>东胜</key>
	<string>0477</string>
	<key>临河</key>
	<string>0478</string>
	<key>锡林浩特</key>
	<string>0479</string>
	<key>乌兰浩特</key>
	<string>0482</string>
	<key>阿拉善盟</key>
	<string>0483</string>
	<key>沈阳</key>
	<string>024</string>
	<key>铁岭</key>
	<string>0410</string>
	<key>大连</key>
	<string>0411</string>
	<key>鞍山</key>
	<string>0412</string>
	<key>抚顺</key>
	<string>0413</string>
	<key>本溪</key>
	<string>0414</string>
	<key>丹东</key>
	<string>0415</string>
	<key>锦州</key>
	<string>0416</string>
	<key>营口</key>
	<string>0417</string>
	<key>阜新</key>
	<string>0418</string>
	<key>朝阳</key>
	<string>0412</string>
	<key>盘锦</key>
	<string>0427</string>
	<key>葫芦岛</key>
	<string>0429</string>
	<key>菏泽</key>
	<string>0530</string>
	<key>济南</key>
	<string>0531</string>
	<key>青岛</key>
	<string>0532</string>
	<key>淄博</key>
	<string>0533</string>
	<key>德州</key>
	<string>0534</string>
	<key>烟台</key>
	<string>0535</string>
	<key>潍坊</key>
	<string>0536</string>
	<key>济宁</key>
	<string>0537</string>
	<key>泰安</key>
	<string>0538</string>
	<key>临沂</key>
	<string>0539</string>
    <key>桂林</key>
    <string>0773</string>
    <key>梧州</key>
    <string>0774</string>
    <key>玉林</key>
    <string>0775</string>
    <key>百色</key>
    <string>0776</string>
    <key>钦州</key>
    <string>0777</string>
    <key>河池</key>
    <string>0778</string>
    <key>北海</key>
    <string>0779</string>
    <key>银川</key>
    <string>0951</string>
    <key>石嘴山</key>
    <string>0952</string>
    <key>吴忠</key>
    <string>0953</string>
    <key>固原</key>
    <string>0954</string>
    <key>衢州</key>
    <string>0570</string>
    <key>杭州</key>
    <string>0571</string>
    <key>湖州</key>
    <string>0572</string>
    <key>嘉兴</key>
    <string>0573</string>
    <key>宁波</key>
    <string>0574</string>
    <key>绍兴</key>
    <string>0575</string>
    <key>台州</key>
    <string>0576</string>
    <key>温州</key>
    <string>0577</string>
    <key>丽水</key>
    <string>0578</string>
    <key>金华</key>
    <string>0579</string>
    <key>舟山</key>
    <string>0580</string>
    <key>滁州</key>
    <string>0550</string>
    <key>合肥</key>
    <string>0551</string>
    <key>蚌埠</key>
    <string>0552</string>
    <key>芜湖</key>
    <string>0553</string>
    <key>淮南</key>
    <string>0554</string>
    <key>马鞍山</key>
    <string>0555</string>
    <key>安庆</key>
    <string>0556</string>
    <key>宿州</key>
    <string>0557</string>
    <key>阜阳</key>
    <string>0558</string>
    <key>黄山</key>
    <string>0559</string>
    <key>淮北</key>
    <string>0561</string>
    <key>铜陵</key>
    <string>0562</string>
    <key>宣城</key>
    <string>0563</string>
    <key>六安</key>
    <string>0564</string>
    <key>巢湖</key>
    <string>0565</string>
    <key>贵池</key>
    <string>0566</string>
    <key>昭通</key>
    <string>0870</string>
    <key>昆明</key>
    <string>0871</string>
    <key>大理</key>
    <string>0872</string>
    <key>个旧</key>
    <string>0873</string>
    <key>曲靖</key>
    <string>0874</string>
    <key>保山</key>
    <string>0875</string>
    <key>文山</key>
    <string>0876</string>
    <key>玉溪</key>
    <string>0877</string>
    <key>楚雄</key>
    <string>0878</string>
    <key>思茅</key>
    <string>0879</string>
    <key>景洪</key>
    <string>0691</string>
    <key>潞西</key>
    <string>0692</string>
    <key>东川</key>
    <string>0881</string>
    <key>临沧</key>
    <string>0883</string>
    <key>六库</key>
    <string>0886</string>
    <key>中甸</key>
    <string>0887</string>
    <key>丽江</key>
    <string>0888</string>
    <key>长春</key>
    <string>0431</string>
    <key>吉林</key>
    <string>0432</string>
    <key>延吉</key>
    <string>0433</string>
    <key>四平</key>
    <string>0434</string>
    <key>通化</key>
    <string>0435</string>
    <key>白城</key>
    <string>0436</string>
    <key>辽源</key>
    <string>0437</string>
    <key>松原</key>
    <string>0438</string>
    <key>浑江</key>
    <string>0439</string>
    <key>珲春</key>
    <string>0440</string>
    <key>巴中</key>
    <string>0827</string>
    <key>宜宾</key>
    <string>0831</string>
    <key>内江</key>
    <string>0832</string>
    <key>乐山</key>
    <string>0833</string>
    <key>西昌</key>
    <string>0834</string>
    <key>雅安</key>
    <string>0835</string>
    <key>康定</key>
    <string>0836</string>
    <key>马尔康</key>
    <string>0837</string>
    <key>德阳</key>
    <string>0838</string>
    <key>广元</key>
    <string>0839</string>
    <key>泸州</key>
    <string>0840</string>
    <key>儋州</key>
    <string>0890</string>
    <key>海口</key>
    <string>0898</string>
    <key>三亚</key>
    <string>0899</string>
    <key>长沙</key>
    <string>0731</string>
    <key>湘潭</key>
    <string>0732</string>
    <key>株州</key>
    <string>0733</string>
    <key>衡阳</key>
    <string>0734</string>
    <key>郴州</key>
    <string>0735</string>
    <key>常德</key>
    <string>0736</string>
    <key>益阳</key>
    <string>0737</string>
    <key>娄底</key>
    <string>0738</string>
    <key>邵阳</key>
    <string>0739</string>
    <key>吉首</key>
    <string>0743</string>
    <key>张家界</key>
    <string>0744</string>
    <key>怀化</key>
    <string>0745</string>
    <key>永州</key>
    <string>0746</string>
    <key>忻州</key>
    <string>0350</string>
    <key>太原</key>
    <string>0351</string>
    <key>大同</key>
    <string>0352</string>
    <key>阳泉</key>
    <string>0353</string>
    <key>榆次</key>
    <string>0354</string>
    <key>长治</key>
    <string>0355</string>
    <key>晋城</key>
    <string>0356</string>
    <key>临汾</key>
    <string>0357</string>
    <key>离石</key>
    <string>0358</string>
    <key>运城</key>
    <string>0359</string>
    <key>拉萨</key>
    <string>0891</string>
    <key>日喀则</key>
    <string>0892</string>
    <key>山南</key>
    <string>0893</string>
    <key>南京</key>
    <string>025</string>
    <key>无锡</key>
    <string>0510</string>
    <key>镇江</key>
    <string>0511</string>
    <key>苏州</key>
    <string>0512</string>
    <key>南通</key>
    <string>0513</string>
    <key>扬州</key>
    <string>0514</string>
    <key>盐城</key>
    <string>0515</string>
    <key>徐州</key>
    <string>0516</string>
    <key>淮阴</key>
    <string>0517</string>
    <key>淮安</key>
    <string>0517</string>
    <key>连云港</key>
    <string>0518</string>
    <key>常州</key>
    <string>0519</string>
    <key>泰州</key>
    <string>0523</string>
    <key>防城港</key>
    <string>0770</string>
    <key>南宁</key>
    <string>0771</string>
    <key>柳州</key>
    <string>0772</string>
    <key>珠海</key>
    <string>0756</string>
    <key>佛山</key>
    <string>0757</string>
    <key>肇庆</key>
    <string>0758</string>
    <key>湛江</key>
    <string>0759</string>
    <key>中山</key>
    <string>0760</string>
    <key>河源</key>
    <string>0762</string>
    <key>清远</key>
    <string>0763</string>
    <key>顺德</key>
    <string>0765</string>
    <key>云浮</key>
    <string>0766</string>
    <key>潮州</key>
    <string>0768</string>
    <key>东莞</key>
    <string>0769</string>
    <key>汕尾</key>
    <string>0660</string>
    <key>潮阳</key>
    <string>0661</string>
    <key>阳江</key>
    <string>0662</string>
    <key>揭西</key>
    <string>0663</string>
    <key>西宁</key>
    <string>0971</string>
    <key>海东</key>
    <string>0972</string>
    <key>同仁</key>
    <string>0973</string>
    <key>共和</key>
    <string>0974</string>
    <key>玛沁</key>
    <string>0975</string>
    <key>玉树</key>
    <string>0976</string>
    <key>德令哈</key>
    <string>0977</string>
    <key>涪陵</key>
    <string>0810</string>
    <key>攀枝花</key>
    <string>0812</string>
    <key>自贡</key>
    <string>0813</string>
    <key>永川</key>
    <string>0814</string>
    <key>绵阳</key>
    <string>0816</string>
    <key>南充</key>
    <string>0817</string>
    <key>达县</key>
    <string>0818</string>
    <key>万县</key>
    <string>0819</string>
    <key>遂宁</key>
    <string>0825</string>
    <key>广安</key>
    <string>0826</string>
    <key>天津</key>
    <string>022</string>
    <key>重庆</key>
    <string>023</string>
    <key>广州</key>
    <string>020</string>
    <key>成都</key>
    <string>028</string>
    <key>岳阳</key>
    <string>073</string>
    <key>韶关</key>
    <string>0751</string>
    <key>惠州</key>
    <string>0752</string>
    <key>梅州</key>
    <string>0753</string>
    <key>汕头</key>
    <string>0754</string>
    <key>深圳</key>
    <string>0755</string>
    <key>上海</key>
    <string>021</string>
    <key>北京</key>
    <string>010</string>
</dict>
</plist>
